@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using IISHost.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Ameriprise Auto & Home API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Security</h2>
            <p>
                To access the API, send an Authorization header with a scheme of "SharedKey" in the HTTP request header and the correct key for the service.
            </p>
            <p class="console">
                GET /files HTTP/1.1<br />
                Host: localhost:9001<br />
                Authorization: SharedKey MQ6CnRYyu6JxRUmOmkLK<br />
                Cache-Control: no-cache<br />
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
